<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/style.css'>
    <title>Document</title>
</head>
<body>
    <h1 id="logo"><i>i-ATA</i></h1>
    <section>
        <p id="description">Transforme suas gravações em atas precisas e organizadas com apenas alguns cliques. Faça upload de suas gravações de reuniões 
            e receba uma ata detalhada e profissional em minutos
        </p>
        <div class="input-area">

            <form action="">
                <label for="meeting-record" class="drop-container" id="dropcontainer">
                    <span id="drop-title">Drop meeting record here</span>
                    or
                    <input type="file" id="meeting-record" required>
                </label>
            </form>

          <div class="meeting-note">
            <p>The ATA will be generate here</p>
          </div>

        </div>
    </section>
    
</body>
</html>