<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/style.css'>
    <title>Document</title>
</head>
<body>
    <h1 id="logo"><i>i-ATA</i></h1>
    <section>
        <p id="description">Turn your meeting into ATA with just a few clicks. 
            Upload your meeting recordings and receive detailed, professional ATA in minutes
        </p>
        <div class="input-area">

            <form action="home" method="post" enctype="multipart/form-data">
                <label for="meeting-record" class="drop-container" id="dropcontainer">
                    <span id="drop-title">Drop meeting record here</span>
                    or
                    <input type="file" id="meeting-record" name="file" required>
                </label>
                <input type="submit" id="sub-button">
            </form>

        </div>
    </section>
    
</body>
</html>